<div ng-controller="DashboardController">
  <div class="content">
  <h1>KES Wallet</h1>
  <p>Available balance
    <span>{{balance}}</span>
  <i class="bi bi-eye"></i>
  </p>
  </div>
    <div class="dashboard">
      <button class="button" data-bs-toggle="modal" data-bs-target="#sendMoney">
        <i class="bi bi-send icon"></i>
        <span class="button-text">Send Money</span>
    </button>

        <button class="button" data-bs-toggle="modal" data-bs-target="#payMoney">
        <i class="bi bi-cash-coin"></i>
        <span class="button-text">pay money</span>
        </button>

        <button class="button" data-bs-toggle="modal" data-bs-target="#withdrawMoney">
        <i class="bi bi-box-arrow-down"></i>
        <span class="button-text">Withdraw Money</span>
        </button>

        <button class="button" data-bs-toggle="modal" data-bs-target="#depositMoney">
          <i class="bi bi-bank"></i>
        <span class="button-text">Deposit Money</span>
        </button>
    

        <div class="modal fade" id="sendMoney" tabindex="-1" aria-labelledby="sendMoneyLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="sendMoneyLabel">Modal title</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form ng-submit="sendMoney()">
                    <!-- {
                        "amount":"0",
                        "to": "PhoneNumber",
                        "description": "bills",

                    } -->
                    <label for="amount">Amount :</label>
                    <input type="number" name="amount" id="amount" ng-model="sendForm.amount"> <br>
                    <label for="to">To:</label>
                    <input type="text" name="to" id="to" ng-model="sendForm.to"> <br>
                    <label for="description">Description:</label>
                    <input type="text" name="description" id="description" ng-model="sendForm.description">
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Send</button>
                  </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          
          <div class="modal fade" id="depositMoney" tabindex="-1" aria-labelledby="depositMoneyLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="depositMoneyLabel">Modal title</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form ng-submit="depositMoney()">
                    <!-- {
                        "amount":"0",
                        "to": "PhoneNumber",
                        "description": "bills",

                    } -->
                    <label for="amount">Amount :</label>
                    <input type="number" name="amount" id="amount1" ng-model="sendForm.amount"> <br>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Send</button>
                  </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

        <div class="modal fade" id="withdrawMoney" tabindex="-1" aria-labelledby="withdrawMoneyLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="withdrawMoneyLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form ng-submit="withdrawMoney()">
                            <!-- {
                                "amount":"0",
                                "to": "PhoneNumber",
                                "description": "bills",

                            } -->
                            <label for="amount">Amount :</label>
                            <input type="number" name="amount" id="amount2" ng-model="sendForm.amount"> <br>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>